.full-name-bar {
    text-align: center;
    background-color: #000080;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.about-me img {
    width: 200px;
    height: auto;
}
.about-me {
    margin-top: 20px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
}
.heto{
    
    margin-top: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
}


table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
    
}
th, td {
    border: 1px solid #000080;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #fff;
}
#contactForm {
    text-align: center;
    border: 2px solid #000080;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
#button {
    background-color: #000080;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}